<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.admin.staticanalysis.StaticAnalysisMapper">

	<!-- 월별 매출 데이터 조회 -->
	<select id="monthlySalesStatusByTopCategory" parameterType="String" resultType="hashmap">
		SELECT
		    c.cate_name primary_cd, SUM(d.dt_amount * d.dt_price) sales_p
		FROM
		    product_tbl p INNER JOIN ordetail_tbl d
		ON
		    p.pro_num=d.pro_num
		INNER JOIN
		    (SELECT
		        c2.cate_name, c1.cate_code
		    FROM
		        category_tbl c1, category_tbl c2
		    WHERE
		        c1.cate_precode = c2.cate_code) c
		ON
		    p.cate_code = c.cate_code
		INNER JOIN
		    order_tbl o
		ON
		    o.ord_code=d.ord_code
		AND
		    TO_CHAR(o.ord_regdate, 'YYYY/MM') = #{ord_date}
		GROUP BY
		    c.cate_name, TO_CHAR(o.ord_regdate, 'YYYY/MM')
		ORDER BY
		    c.cate_name
	</select>
	
	
	
	
	
</mapper>