<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.wishlist.WishListMapper">

	<!-- 위시리스트 목록 -->
	<select id="wish_list" resultType="hashmap" parameterType="map">
		SELECT
			wish_idx,
            pro_num,
		    pro_name,
		    pro_price,
		    pro_up_folder,
		    pro_img
		FROM(
			SELECT /*+ USE_NL(w,p) INDEX_DESC(w pk_wish_idx) INDEX_DESC(p pk_pro_num) */
			    ROWNUM AS rn,
			    w.wish_idx,
                w.pro_num,
			    p.pro_name,
			    p.pro_price,
			    p.pro_up_folder,
			    p.pro_img
			FROM
			    wishlist_tbl w
			INNER JOIN
			    product_tbl p
			ON
			    w.pro_num = p.pro_num
			WHERE
				mbsp_id = #{mbsp_id}
            AND
			<![CDATA[
		        ROWNUM <= (#{cri.pageNum} * #{cri.amount})
		    ]]>
		)
		WHERE
			rn > (#{cri.pageNum} - 1 ) * #{cri.amount}
	</select>

	<!-- 전체 데이터 개수 -->
	<select id="getTotalCount" resultType="int" parameterType="String">
		SELECT
			COUNT(*)
		FROM
			wishlist_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</select>
	
	<!-- 위시리스트 표시 -->
	<select id="getWish" parameterType="map" resultType="Long">
		SELECT
			wish_idx
		FROM
			wishlist_tbl
		WHERE
			mbsp_id = #{mbsp_id}
		AND
			pro_num = #{pro_num}
	</select>
	
	<!-- 위시리스트 추가 -->
	<insert id="insertWish" parameterType="map">
	    INSERT INTO wishlist_tbl (
		    wish_idx,
		    pro_num,
		    mbsp_id
		) VALUES (
		    seq_wish_idx.NEXTVAL,
		    #{pro_num},
		    #{mbsp_id}
		)
	</insert>
	
	<!-- 위시리스트 삭제 -->
	<delete id="deleteWish" parameterType="Long">
	    DELETE FROM
	    	wishlist_tbl
		WHERE
		    wish_idx = #{wish_idx}
	</delete>
	

</mapper>