<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.admin.product.AdminProductMapper">

	<!-- 판매상품등록 -->
	<insert id="pro_insert">
		INSERT INTO
			product_tbl(
						pro_num,
					    cate_code,
					    pro_name,
					    pro_price,
					    pro_discount,
					    pro_publisher,
					    pro_content,
					    pro_up_folder,
					    pro_img,
					    pro_amount,
					    pro_buy
			)
		VALUES(
			    seq_pro_num.NEXTVAL,
			    #{cate_code},
			    #{pro_name},
			    #{pro_price},
			    #{pro_discount},
			    #{pro_publisher},
			    #{pro_content},
			    #{pro_up_folder},
			    #{pro_img},
			    #{pro_amount},
			    #{pro_buy}
		)
	</insert>

	<!--  검색조건이 1) 목록 2) 총데이타 개수 공통사항 -->
	<!-- 검색종류가 (상품명 또는 제조사 또는 내용) 선택.  "N"  "P"   "C", "NP" -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							pro_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'P'.toString()">
							pro_publisher like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							pro_num like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 상품목록 -->
	<select id="pro_list" resultType="ProductVo" parameterType="Criteria">
		SELECT
		    pro_num,
		    cate_code,
		    pro_name,
		    pro_price,
		    pro_discount,
		    pro_publisher,
		    pro_content,
		    pro_up_folder,
		    pro_img,
		    pro_amount,
		    pro_buy,
		    pro_date,
		    pro_updatedate
		FROM (
			SELECT /*+ INDEX_DESC(product_tbl PK_PRO_NUM)  */ 
	        	ROWNUM AS RN,
	        	pro_num,
	        	cate_code, 
	        	pro_name, 
	        	pro_price, 
	        	pro_discount, 
	        	pro_publisher, 
	        	pro_content, 
	        	pro_up_folder, 
	        	pro_img, 
	        	pro_amount, 
	        	pro_buy, 
	        	pro_date, 
	        	pro_updatedate
	    	FROM
	        	product_tbl
	    	WHERE 
			   <include refid="criteria"></include>
			 <![CDATA[  		
			   		ROWNUM <= (#{pageNum} * #{amount})   -- 페이지번호 * 페이지별 출력건수
			 ]]>
			)
			WHERE
				RN > (#{pageNum} - 1 ) * #{amount}
	</select>

	<!-- 전체 데이터 개수(페이징) -->
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			product_tbl
		
		WHERE
			<include refid="criteria"></include>
			pro_num > 0
	</select>
	
	<!-- 상품수정 -->
	<select id="pro_edit" parameterType="Integer" resultType="ProductVo">
		SELECT
		    pro_num,
		    cate_code,
		    pro_name,
		    pro_price,
		    pro_discount,
		    pro_publisher,
		    pro_content,
		    pro_up_folder,
		    pro_img,
		    pro_amount,
		    pro_buy
		FROM
			product_tbl
		WHERE
			pro_num = #{pro_num}
	</select>

	<!-- 상품수정 저장 -->
	<update id="pro_edit_ok" parameterType="ProductVo">
		UPDATE
			product_tbl
		SET
		    cate_code = #{cate_code},
		    pro_name = #{pro_name},
		    pro_price = #{pro_price},
		    pro_discount = #{pro_discount},
		    pro_publisher = #{pro_publisher},
		    pro_content = #{pro_content},
		    pro_up_folder = #{pro_up_folder},
		    pro_img = #{pro_img},
		    pro_amount = #{pro_amount},
		    pro_buy = #{pro_buy},
		    pro_updatedate = SYSDATE
		WHERE
			pro_num = #{pro_num}
	</update>

	<!-- 개별 상품삭제 -->
	<delete id="pro_delete" parameterType="Integer">
		DELETE FROM
			product_tbl
		WHERE
			pro_num = #{pro_num}
	</delete>
	
	<!-- 일괄 상품삭제 -->
	<delete id="pro_delete_all" parameterType="list">
		<foreach collection="list" item="item" open="declare begin" separator=";" close="; end;">
			DELETE FROM
				product_tbl
			WHERE
				pro_num = #{item.pro_num}
		</foreach>
	</delete>



</mapper>