<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.admin.category.AdminCategoryMapper">

	<!-- 1차 카테고리 목록 -->
	<select id="getFirstCategoryList" resultType="AdminCategoryVo">
		SELECT
		    cate_code,
		    cate_precode,
		    cate_name
		FROM
		    category_tbl
		WHERE
			cate_precode IS NULL
	</select>
	
	<!-- 2차 카테고리 목록 -->
	<select id="getSecondCategoryList" resultType="AdminCategoryVo">
		SELECT
		    cate_code,
		    cate_precode,
		    cate_name
		FROM
		    category_tbl
		WHERE
			cate_precode = #{cate_precode}
	</select>

	<!-- 2차 카테고리 정보를 이용한 1차 카테고리 정보 -->


</mapper>