<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.admin.review.AdminReviewMapper">

	<!--  공통사항(검색어) : 1) 작성자명 2) 리뷰제목 3) 리뷰내용 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="cri.typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()">
							mbsp_id like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'T'.toString()">
							rev_title like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							rev_content like '%' || #{cri.keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!--  공통사항(별점)  -->
	<sql id="reviewStar">
		<if test="rev_rate != null">
			<choose>
				<when test="rev_rate == 1">
					rev_rate = 1 AND
				</when>
				<when test="rev_rate == 2">
					rev_rate = 2 AND
				</when>
				<when test="rev_rate == 3">
					rev_rate = 3 AND
				</when>
				<when test="rev_rate == 4">
					rev_rate = 4 AND
				</when>
				<when test="rev_rate == 5">
					rev_rate = 5 AND
				</when>
			</choose>
		</if>
	</sql>

	<!-- 상품구매후기(리뷰) 목록 -->
	<select id="rev_list" parameterType="map" resultType="hashmap">
		SELECT
			rev_code,
		    mbsp_id,
		    pro_num,
		    rev_title,
		    rev_content,
		    rev_rate,
		    rev_regdate,
		    pro_name,
		    pro_up_folder,
		    pro_img
		FROM(
			SELECT /*+ USE_NL(r,p) INDEX_DESC(r pk_review_code) INDEX_DESC(p pk_pro_num) */
			    ROWNUM AS rn,
			    r.rev_code,
			    r.mbsp_id,
			    r.pro_num,
			    r.rev_title,
			    r.rev_content,
			    r.rev_rate,
			    r.rev_regdate,
			    p.pro_name,
			    p.pro_up_folder,
			    p.pro_img
			FROM
			    review_tbl r
			INNER JOIN
			    product_tbl p
			ON
			    r.pro_num = p.pro_num
			WHERE
				<include refid="criteria"></include>
				<include refid="reviewStar"></include>
			<![CDATA[
		        ROWNUM <= (#{cri.pageNum} * #{cri.amount})
		    ]]>
		)
		WHERE
		        rn > (#{cri.pageNum} - 1 ) * #{cri.amount}
	</select>

	<!-- 전체 데이터 개수(페이징) -->
	<select id="getTotalCount" resultType="int" parameterType="map">
		SELECT
			COUNT(*)
		FROM
			review_tbl
		WHERE
			<include refid="criteria"></include>
			<include refid="reviewStar"></include>
			rev_code > 0
	</select>

	<!-- 리뷰 수정 -->
	<update id="revModify" parameterType="ReviewVo">
		UPDATE
			review_tbl
		SET
			rev_title = #{rev_title},
			rev_content = #{rev_content},
			rev_rate = #{rev_rate}
		WHERE
			rev_code = #{rev_code}
	</update>

	<!-- 리뷰 삭제 및 일괄삭제 -->
	<delete id="rev_delete" parameterType="list">
		<foreach collection="list" item="item" open="declare begin" separator=";" close="; end;">
			DELETE FROM
				review_tbl
			WHERE
				rev_code = #{item}
		</foreach>
	</delete>



</mapper>