<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.order.OrderMapper">

	<!-- 주문 테이블 저장 -->
	<insert id="order_insert" parameterType="com.yewmall.basic.order.OrderVo">
		<selectKey keyProperty="ord_code" resultType="Long" order="BEFORE">
			SELECT
				seq_ord_code.NEXTVAL
			FROM
				dual
		</selectKey>
		INSERT INTO order_tbl (
		    ord_code,
		    mbsp_id,
		    ord_name,
		    ord_addr_zipcode,
		    ord_addr_basic,
		    ord_addr_detail,
		    ord_tel,
		    ord_price,
		    ord_desc )
		VALUES (
			#{ord_code},
			#{mbsp_id},
			#{ord_name},
			#{ord_addr_zipcode},
			#{ord_addr_basic},
			#{ord_addr_detail},
			#{ord_tel},
			#{ord_price},
			#{ord_desc} )
	</insert>

	<!-- 주문 상세 테이블 저장 -->
	<insert id="orderDetail_insert" parameterType="map">
		INSERT INTO ordetail_tbl (
		    ord_code,
		    pro_num,
		    dt_amount,
		    dt_price)
		SELECT
			#{ord_code},
			pro_num,
			cart_amount,
			pro_num * cart_amount
		FROM
			cart_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</insert>

</mapper>