<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yewmall.basic.qna.QnaMapper">

	<resultMap type="QnaVo" id="qnaMap">
		<id property="qno" column="qna_idx" />
		<result property="qcontent" column="question" />
		<result property="reply_content" column="answer" />
		<result property="qregdate" column="question_date" />
	</resultMap>

	<!-- Q&A(상품문의) 목록 -->
	<select id="qna_list" resultMap="qnaMap" parameterType="map">
		SELECT
		    qna_idx,
		    mbsp_id,
		    admin_id,
		    pro_num,
		    question,
		    answer,
		    anscheck,
		    question_date,
		    answer_date
		FROM(
			SELECT/*+ INDEX_DESC(qnaboard_tbl pk_qna_idx) */
				ROWNUM AS rn,
			    qna_idx,
			    mbsp_id,
			    admin_id,
			    pro_num,
			    question,
			    answer,
			    anscheck,
			    question_date,
			    answer_date
			FROM
			    qnaboard_tbl
			WHERE
		        pro_num = #{pro_num}
		    AND
		    <![CDATA[
		        ROWNUM <= (#{cri.pageNum} * #{cri.amount})
		    )
		    ]]>
		    WHERE
		        rn > (#{cri.pageNum} - 1 ) * #{cri.amount}
	</select>
	
	<!-- 총 데이터 갯수(페이징) -->
	<select id="getCountQnaByPro_num" resultType="int" parameterType="int">
		SELECT
			COUNT(*)
		FROM
			qnaboard_tbl
	</select>

	<!-- Q&A 작성 후 저장 -->
	<insert id="qna_save" parameterType="QnaVo">
		INSERT INTO qnaboard_tbl(
			qna_idx,
		    mbsp_id,
		    pro_num,
		    question
		    )
		VALUES(
			seq_qna_idx.NEXTVAL,
			#{mbsp_id},
			#{pro_num},
			#{qcontent}
			)
	</insert>
	
	<!-- Q&A 삭제 -->
	<delete id="qna_delete" parameterType="Long">
		DELETE FROM
			qnaboard_tbl
		WHERE
			qna_idx = #{qno}
	</delete>
	
	<!-- Q&A 수정 폼 -->
	<select id="qna_modify" parameterType="Long" resultMap="qnaMap">
		SELECT
		    qna_idx,
		    pro_num,
		    question
		FROM
		    qnaboard_tbl
		WHERE
			qna_idx = #{qno}
	</select>
	
	<!-- Q&A 수정 저장 -->
	<update id="qna_update" parameterType="QnaVo">
		UPDATE
			qnaboard_tbl
		SET
		    question = #{qcontent},
		    question_date = SYSDATE
		WHERE
			qna_idx = #{qno}
	</update>




</mapper>