<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="/admin/admin_menu">
      <img src="/images/icon/logo.png" alt="YewMall logo">
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1 ps">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <!--
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-chart-bar"></i>상점관리</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="index.html">사업자 등록정보</a>
            </li>
            <li>
              <a href="index.html">운영자 관리</a>
            </li>
            <li>
              <a href="index.html">카테고리 설정</a>
            </li>
          </ul>
        </li>
        -->
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-table"></i>상품관리</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/admin/product/pro_list">상품목록</a>
            </li>
            <li>
              <a href="/admin/product/pro_insert">판매상품 등록</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="far fa-check-square"></i>주문관리</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/admin/order/order_list">주문목록</a>
            </li>
            <li>
              <a href="/admin/wish/wish_list">위시리스트</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-calendar-alt"></i>회원관리</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/admin/user/user_list">회원목록</a>
            </li>
            <li>
              <a href="/admin/user/mailinglist">이메일 발송목록</a>
            </li>
            <li>
              <a href="/admin/user/mailingform">이메일 발송 폼</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-map-marker-alt"></i>후기/문의관리</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/admin/review/review_list">상품구매후기 목록</a>
            </li>
            <li>
              <a href="/admin/qna/qna_list">상품문의 목록</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-copy"></i>통계관리
          </a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/admin/staticanalysis/cate_precode_orderStats">1차 카테고리 별 매출현황</a>
            </li>
            <!--
            <li>
              <a href="/admin/staticanalysis/cate_code_orderStats">2차 카테고리 별 매출현황</a>
            </li>
            <li>
              <a href="/admin/staticanalysis/wishlist_ranking">위시리스트 순위</a>
            </li>
          -->
          </ul>
        </li>
        <!--
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-desktop"></i>기타</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="index.html">Dashboard 1</a>
            </li>
          </ul>
        </li>
        -->
      </ul>
    </nav>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </div>
</aside>