<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a href="/admin/admin_menu">
                  <img src="/images/icon/logo.png" alt="YewMall logo">
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-table"></i>상품관리</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                        <a href="/admin/product/pro_list">상품목록</a>
                        </li>
                        <li>
                        <a href="/admin/product/pro_insert">판매상품 등록</a>
                        </li>
                    </ul>
                    </li>
                    <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-square"></i>주문관리</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                        <a href="/admin/order/order_list">주문목록</a>
                        </li>
                        <li>
                        <a href="/admin/wish/wish_list">위시리스트</a>
                        </li>
                    </ul>
                    </li>
                    <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-calendar-alt"></i>회원관리</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                        <a href="/admin/user/user_list">회원목록</a>
                        </li>
                        <li>
                        <a href="/admin/user/mailinglist">이메일 발송목록</a>
                        </li>
                        <li>
                        <a href="/admin/user/mailingform">이메일 발송 폼</a>
                        </li>
                    </ul>
                    </li>
                    <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-map-marker-alt"></i>후기/문의관리</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                        <a href="/admin/review/review_list">상품구매후기 목록</a>
                        </li>
                        <li>
                        <a href="/admin/qna/qna_list">상품문의 목록</a>
                        </li>
                    </ul>
                    </li>
                    <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>통계관리
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                        <a href="/admin/staticanalysis/cate_precode_orderStats">1차 카테고리 별 매출현황</a>
                        </li>
                        <!--
                        <li>
                        <a href="/admin/staticanalysis/cate_code_orderStats">2차 카테고리 별 매출현황</a>
                        </li>
                        <li>
                        <a href="/admin/staticanalysis/wishlist_ranking">위시리스트 순위</a>
                        </li>
                        -->
                    </ul>
                    </li>
            </ul>
        </div>
    </nav>
</header>