<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">기본정보</h3>
            </div>
            
            <form class="form-horizontal" id="joinForm" action="/user/join" method="post">
              <div class="card-body">
                <div class="form-group row">
                  <label for="mbsp_id" class="col-sm-2 col-form-label">ID</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="mbsp_id" name="mbsp_id" placeholder="아이디를 입력하세요.">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary" id="btnIDCheck">ID Check</button>
                  </div>
                  <span class="col-sm-2" id="idCheckMsg" style="color: red;"></span>
                </div>
                <div class="form-group row">
                  <label for="mbsp_password" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" id="mbsp_password" name="mbsp_password" placeholder="비밀번호를 입력하세요.">
                  </div>
                  <label for="u_confirm_pwd" class="col-sm-2 col-form-label">Confirm Password</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" id="u_confirm_pwd" placeholder="비밀번호 확인">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mbsp_name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="mbsp_name" name="mbsp_name" placeholder="이름을 입력하세요.">
                  </div>
                  <label for="mbsp_nick" class="col-sm-2 col-form-label">NickName</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="mbsp_nick" name="mbsp_nick" placeholder="별명을 입력하세요.">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mbsp_email" class="col-sm-2 col-form-label">E-Mail</label>
                  <div class="col-sm-3">
                    <input type="email" class="form-control" id="mbsp_email" name="mbsp_email" placeholder="이메일">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-outline-primary" id="btnMailAuthcode">인증요청</button>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="u_authcode" placeholder="인증코드">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-outline-primary" id="btnConfirmAuth">인증확인</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sample2_postcode" class="col-sm-2 col-form-label">Zip-Code</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="sample2_postcode" name="mbsp_zipcode" placeholder="우편번호">
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary" onclick="sample2_execDaumPostcode()" >우편번호찾기</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sample2_address" class="col-sm-2 col-form-label">Address</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="sample2_address" name="mbsp_addr" placeholder="주소">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sample2_detailAddress" class="col-sm-2 col-form-label">Address(detail)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="sample2_detailAddress" name="mbsp_deaddr" placeholder="상세주소">
                    <input type="hidden" id="sample2_extraAddress" placeholder="참고항목">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mbsp_phone" class="col-sm-2 col-form-label">Phone</label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="mbsp_phone" name="mbsp_phone" placeholder="휴대폰 번호">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mbsp_receive" class="col-sm-2 col-form-label">광고성메일수신동의</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="mbsp_receive1" name="mbsp_receive" value="Y">
                    <label class="form-check-label" for="inlineCheckbox1">동의</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="mbsp_receive2" name="mbsp_receive" value="N">
                    <label class="form-check-label" for="inlineCheckbox2">비동의</label>
                  </div>
                </div>

              </div>
              
              <div class="card-footer">
                <button type="button" class="btn btn-info" id="btnJoin">Sign up</button>
                <button type="reset" class="btn btn-default float-right" id="btnCancel">Cancel</button>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

<!-- KaKao 주소 API -->
<th:block th:replace="~{api/kakao_postcode :: kakao_PostCode_Api}"></th:block>
</th:block>

<th:block layout:fragment = "script">
  <script>
    $(document).ready(function() {
      let useIDCheck = false; // 회원가입 시 ID중복체크 기능 사용여부

      $("#btnIDCheck").on("click", function() {
        if($("#mbsp_id").val() == "") {
          alert("아이디를 입력하세요.");
          $("#mbsp_id").focus();

          return;
        }

        $.ajax({
          url : '/user/idCheck',
          type : 'get',
          data : {mbsp_id : $("#mbsp_id").val()},
          dataType : 'text',
          success : function(result) {
            if(result == "yes") {
              alert("아이디 사용가능");
              $("#idCheckMsg").html("사용가능");
            } else {
              alert("아이디 사용불가");
              $("#idCheckMsg").html("사용불가");
              $("#mbsp_id").val("");
              $("#mbsp_id").focus();
            }
          }
        });
      });

      // 메일 인증코드 요청
      $("#btnMailAuthcode").on("click", function() {
        if($("#mbsp_email").val() == "") {
          alert("이메일을 입력하세요.");
          $("#mbsp_email").focus();

          return;
        }

        $.ajax({
          url : '/email/authcode',
          type : 'get',
          data : {receiverMail : $("#mbsp_email").val(), type : "emailJoin"},
          dataType : 'text',
          success : function(result) {
            if(result == "success") {
              alert("메일로 인증코드가 발송되었습니다.");
              $("#u_authcode").focus();
            }
          }
        });
      });

      // 메일 인증확인
      $("#btnConfirmAuth").on("click", function() {
        if($("#u_authcode").val() == "") {
          alert("인증코드를 입력하세요.");
          $("#u_authcode").focus();

          return;
        }

        $.ajax({
          url : '/email/confirm_authcode',
          type : 'get',
          data : {authcode : $("#u_authcode").val()},
          dataType : 'text',
          success : function(result) {
            if(result == "success") {
              alert("인증 확인이 완료되었습니다.");
            } else if(result == "fail") {
              alert("인증코드값을 재확인바랍니다.");
            } else if(result == "request") {
              alert("인증코드가 만료되었습니다. 재발급바랍니다.");
            }
          }
        });
      });

      // 회원가입 클릭
      $("#btnJoin").on("click", function() {
        console.log("click event");
        $("#joinForm").submit();
      });

      // 회원가입 취소
      $("#btnCancel").on("click", function() {
        location.href="/";
      });

    }); // ready event end
  </script>
</th:block>
</body>
</html>
