<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Login Form</h3>
            </div>
            
            <form class="form-horizontal" id="loinForm" th:action="@{/user/login}" method="post">
              <div class="card-body">
                <div class="form-group row">
                  <label for="mbsp_id" class="col-sm-4 col-form-label">ID</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="mbsp_id" name="mbsp_id" value="user01">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mbsp_password" class="col-sm-4 col-form-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="mbsp_password" name="mbsp_password" value="1234">
                  </div>
                </div>
              </div>
              
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-info btn-block" id="btnLogin">Login</button>
              </div>
  
            </form>
  
            <div class="card-footer text-center">
              <button type="button" class="btn btn-outline-primary float-left" id="idfind">아이디 찾기</button>
              <button type="button" class="btn btn-outline-primary float-left" id="pwfind">비밀번호 찾기</button>
              <button type="button" class="btn btn-outline-primary float-right" id="join">회원가입</button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </main>

</th:block>

<th:block layout:fragment = "script">
  <script>
    $(document).ready(function() {

      

      $("#idfind").on("click", function() {
        location.href="/user/idfind"
      });

      $("#pwfind").on("click", function() {
        location.href="/user/pwfind"
      });

      $("#join").on("click", function() {
        location.href="/user/join";
      });







    }); // ready event end
  </script>
</th:block>
</body>
</html>
