<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <section th:replace="~{user/comm/mypage_menu}"></section>
        </div>
        
        <div class="col-10">
          <div class="card-header">
            <h3 class="card-title">회원정보 변경</h3>
          </div>
          <form class="form-horizontal" id="joinForm" action="/user/modify" method="post">
            <div class="card-body">
              <div class="form-group row">
                <label for="mbsp_id" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="mbsp_id" name="mbsp_id" th:value="${user.mbsp_id}" readonly>
                </div>
                <label for="mbsp_createdate" class="col-sm-2 col-form-label">가입일</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="mbsp_createdate" th:value="${#dates.format(user.mbsp_createdate, 'yyyy-MM-dd')}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label for="mbsp_name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="mbsp_name" name="mbsp_name" th:value="${user.mbsp_name}" readonly>
                </div>
                <label for="mbsp_nick" class="col-sm-2 col-form-label">NickName</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="mbsp_nick" name="mbsp_nick" th:value="${user.mbsp_nick}">
                </div>
              </div>
              <div class="form-group row">
                <label for="mbsp_email" class="col-sm-2 col-form-label">E-Mail</label>
                <div class="col-sm-3">
                  <input type="email" class="form-control" id="mbsp_email" name="mbsp_email" placeholder="이메일">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-outline-primary" id="btnMailAuthcode">인증요청</button>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="u_authcode" placeholder="인증코드">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-outline-primary" id="btnConfirmAuth">인증확인</button>
                </div>
              </div>
              <div class="form-group row">
                <label for="sample2_postcode" class="col-sm-2 col-form-label">Zip-Code</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="sample2_postcode" name="mbsp_zipcode" th:value="${user.mbsp_zipcode}">
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-outline-primary" onclick="sample2_execDaumPostcode()">우편번호찾기</button>
                </div>
              </div>
              <div class="form-group row">
                <label for="sample2_address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sample2_address" name="mbsp_addr" th:value="${user.mbsp_addr}">
                </div>
              </div>
              <div class="form-group row">
                <label for="sample2_detailAddress" class="col-sm-2 col-form-label">Address(detail)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sample2_detailAddress" name="mbsp_deaddr" th:value="${user.mbsp_deaddr}">
                  <input type="hidden" id="sample2_extraAddress" placeholder="참고항목">
                </div>
              </div>
              <div class="form-group row">
                <label for="mbsp_phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="tel" class="form-control" id="mbsp_phone" name="mbsp_phone" th:value="${user.mbsp_phone}">
                </div>
              </div>
              <div class="form-group row">
                <label for="mbsp_receive" class="col-sm-2 col-form-label">광고성메일수신동의</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="mbsp_receive1" name="mbsp_receive" value="Y" th:checked="${user.mbsp_receive == 'Y'}">
                  <label class="form-check-label" for="inlineCheckbox1">동의</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="mbsp_receive2" name="mbsp_receive" value="N" th:checked="${user.mbsp_receive == 'N'}">
                  <label class="form-check-label" for="inlineCheckbox2">비동의</label>
                </div>
              </div>

            </div>
            
            <div class="card-footer text-center">
              <button type="submit" class="btn btn-info btn-block" id="btnModify">수정</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</th:block>
<th:block layout:fragment = "script">
  <!-- KaKao 주소 API -->
  <th:block th:replace="~{api/kakao_postcode :: kakao_PostCode_Api}"></th:block>
  <script th:inline="javascript">
    let msg = [[${msg}]];

    if(msg == "success") {
      alert("회원정보가 수정되었습니다.");
    }

    $(document).ready(function() {
      // 메일 인증코드 요청
      $("#btnMailAuthcode").on("click", function() {
        if($("#mbsp_email").val() == "") {
          alert("이메일을 입력하세요.");
          $("#mbsp_email").focus();

          return;
        }

        $.ajax({
          url : '/email/authcode',
          type : 'get',
          data : {receiverMail : $("#mbsp_email").val(), type : "emailJoin"},
          dataType : 'text',
          success : function(result) {
            if(result == "success") {
              alert("메일로 인증코드가 발송되었습니다.");
              $("#u_authcode").focus();
            }
          }
        });
      });

      // 메일 인증확인
      $("#btnConfirmAuth").on("click", function() {
        if($("#u_authcode").val() == "") {
          alert("인증코드를 입력하세요.");
          $("#u_authcode").focus();

          return;
        }

        $.ajax({
          url : '/email/confirm_authcode',
          type : 'get',
          data : {authcode : $("#u_authcode").val()},
          dataType : 'text',
          success : function(result) {
            if(result == "success") {
              alert("인증 확인이 완료되었습니다.");
            } else if(result == "fail") {
              alert("인증코드값을 재확인바랍니다.");
            } else if(result == "request") {
              alert("인증코드가 만료되었습니다. 재발급바랍니다.");
            }
          }
        });
      });
    }); // jQuery ready event end
  </script>
</th:block>
</body>
</html>
