<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <section th:replace="~{user/comm/mypage_menu}"></section>
        </div>
        
        <div class="col-10">
          <div class="card-header">
            <h3 class="card-title">My Page</h3>
          </div>

        </div>
      </div>
    </div>
  </main>
</th:block>

</body>
</html>
