<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/adminlayout}">

  <th:block layout:fragment="content">
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
    <h1>
      Page Header<br>
      <small>Optional description</small>
    </h1>
  </th:block>
          
  <th:block layout:fragment="script">
      <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
  </th:block>

</html>
