<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{admin/layout/adminlayout}">

  <th:block layout:fragment="content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title-5 m-b-35">판매상품 리스트</h3>
            
            <div class="table-data__tool">
              <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                  <form th:action="@{/admin/product/pro_list}" method="get"> <!-- 이거 왜 옵션 안 보임? -->
                    <select class="js-select2 select2-hidden-accessible" name="type" tabindex="-1" aria-hidden="true">
                      <option class="au-btn-filter" selected><i class="zmdi zmdi-filter-list"></i>필터선택</option>
                      <option value="N">상품명</option>
                      <option value="C">상품코드</option>
                      <option value="P">제조사</option>
                      <option value="NP">상품명 or 제조사</option>
                    </select>
                      <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}">
                      <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                      <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                      <button type="submit" class="btn btn-primary">검색</button>
                  </form>
                </div>
              </div>
              <div class="table-data__tool-right">
                <a class="au-btn au-btn-icon au-btn--green au-btn--small" th:href="@{/admin/product/pro_insert}">
                  <i class="zmdi zmdi-plus"></i>상품등록
                </a>
                <a class="au-btn au-btn-icon btn btn-danger au-btn--small" id="btn_pro_del_all">
                  <i class="fa fa-minus"></i>일괄삭제
                </a>
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                  <select class="js-select2 select2-hidden-accessible" name="type" tabindex="-1" aria-hidden="true">
                    <option selected="selected">Export</option>
                    <option value="">Option 1</option>
                  </select>
                </div>
              </div>
            </div>
          
            <div class="table-responsive table-responsive-data2">
              <table class="table table-data2">
                <thead>
                  <tr>
                    <th th:style="${'width: 2%'}">
                      <label class="au-checkbox">
                        <input type="checkbox" id="checkAll">
                        <span class="au-checkmark"></span>
                      </label>
                    </th><!-- width css 적용 안됨 -->
                    <th th:style="${'width: 8%'}">상품코드</th>
                    <th th:style="${'width: 10%'}">상품사진</th>
                    <th th:style="${'width: 15%'}">상품명</th>
                    <th th:style="${'width: 10%'}">가격</th>
                    <th th:style="${'width: 20%'}">등록일</th>
                    <th th:style="${'width: 15%'}">판매여부</th>
                    <th th:style="${'width: 10%'}">수정</th>
                    <th th:style="${'width: 10%'}">삭제</th>
                  </tr>
                </thead>
                <tbody th:each="product : ${pro_list}">
                  <tr class="spacer"></tr>
                  <tr class="tr-shadow">
                    <td>
                      <label class="au-checkbox">
                        <input type="checkbox" name="check" th:value="${product.pro_num}">
                        <span class="au-checkmark"></span>
                      </label>
                    </td>
                    <!-- <td th:text="${product.pro_num}"></td> -->
                    <td>[[${product.pro_num}]]</td>
                    <td>
                      <a class="move">
                        <img th:src="${'/admin/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}">
                      </a>
                    </td>
                    <td>
                      <a th:text="${product.pro_name}"></a>
                    </td>
                    <td th:text="${product.pro_price}"></td>
                    <td th:text="${#dates.format(product.pro_date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                      <select id="pro_buy" name="pro_buy">
                        <option value="Y" th:selected="${product.pro_buy == 'Y'}">판매가능</option>
                        <option value="N" th:selected="${product.pro_buy == 'N'}">판매불가능</option>
                      </select>
                    </td>
                    <td>
                      <button type="button" class="btn btn-warning" name="btn_pro_edit" th:data-pro_num="${product.pro_num}">수정</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" name="btn_pro_del" th:data-pro_num="${product.pro_num}">삭제</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          
            <div class="box-footer clearfix">
              <div class="row">
                <div class="col-md-4">
                  <form id="actionForm" action="" method="get">
                    <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}">
                    <input type="hidden" name="amount"  id="amount" th:value="${pageMaker.cri.amount}">
                    <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}">
                    <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
                  </form>
                </div>
                <div class="col-md-6 text-center">
                  <nav aria-label="...">
                    <ul class="pagination">
                      <!-- 이전 표시여부 -->
                      <th:block th:if="${pageMaker.prev}">
                        <li class="page-item">
                          <a th:href="${pageMaker.startPage - 1}" class="page-link movepage">이전</a>
                        </li>
                      </th:block>
                      
                      <!-- 페이지 번호 -->
                      <th:block th:with="pageMaker = ${pageMaker}">
                        <th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                        <li class='page-item' th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }" aria-current="page">
                          <a class="page-link movepage" th:href="${num}" th:text="${num}"></a>
                        </li>
                        </th:block>
                      </th:block>
    
                      <!--  다음 표시여부 -->
                      <th:block th:if="${pageMaker.next}">
                        <li class="page-item">
                          <a th:href="${pageMaker.endPage + 1}" class="page-link movepage">다음</a>
                        </li>
                      </th:block>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="script">
    <script>
      $(document).ready(function() {
        let actionForm = $("#actionForm");

        // 페이지 번호 클릭 시
        $(".movepage").on("click", function(e) {
          e.preventDefault(); // <a> 링크 기능 무력화
          actionForm.attr("action", "/admin/product/pro_list");
          // 클릭한 페이지 번호 작업
          actionForm.find("input[name='pageNum']").val($(this).attr("href"));
          actionForm.submit();
        });

        // 상품 수정 버튼 클릭 시
        $("button[name='btn_pro_edit']").on("click", function() {
          let pro_num = $(this).data("pro_num");
//          console.log("상품코드", pro_num);
          actionForm.find("input[name='pro_num']").remove(); // 뒤로버튼 관련 문제 방지

          let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}">`; // JS String template : `(백틱)
          console.log(str);
          actionForm.append(str);
          actionForm.attr("method", "get");
          actionForm.attr("action", "/admin/product/pro_edit");
          actionForm.submit();
        });

        // checkbox 선택하기
        let isCheck = true;
        $("#checkAll").on("click", function() {
          $("input[name='check']").prop("checked", this.checked);
          isCheck = this.checked;
        });

        // 상품목록에서 데이터행 선택하기
        $("input[name='check']").on("click", function() {
          $("#checkAll").prop("checked", this.checked);
          $("input[name='check']").each(function() {
            if(!$(this).is(":checked")) {
              $("#checkAll").prop("checked", false);
            }
          });
        });

        // 개별 삭제 버튼 클릭 시
        $("button[name='btn_pro_del']").on("click", function() {
          if(!confirm("상품을 삭제하시겠습니까?")) {
            return;
          }
          let pro_num = $(this).data("pro_num");
          actionForm.find("input[name='pro_num']").remove();

          console.log("상품코드", pro_num);

          let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}">`;
          console.log(str);

          actionForm.append(str);
          actionForm.attr("method", "post");
          actionForm.attr("action", "/admin/product/pro_delete");

          actionForm.submit();
        });

        // 일괄 삭제 버튼 클릭 시
        $("#btn_pro_del_all").on("click", function(e) {
          console.log("일괄 삭제 버튼 클릭");
          e.preventDefault();
          if(!confirm("선택된 상품을 일괄삭제하시겠습니까?")) {
            return;
          }

          let pro_num_arr = []; // 선택된 상품코드들이 저장될 배열

          // 선택된 상태 접근
          $("input[name='check']:checked").each(function() {
            pro_num_arr.push($(this).val());
          });
          console.log("상품코드", pro_num_arr);

          $.ajax({
            url : '/admin/product/pro_delete_all',
            type : 'post',
            data : {pro_num_arr : pro_num_arr},
            dataType : 'text',
            success : function(result) {
              if(result == 'success') {
                alert("선택된 상품이 삭제되었습니다.");
              }
            },
            complete : function() {
              location.reload();
            }
          });
        });




      }); // ready end
    </script>
  </th:block>

</html>
