<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{admin/layout/adminlayout}">

  <th:block layout:fragment="content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title-5 m-b-35">위시리스트</h3>
            
            <div class="table-data__tool">
              <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>상품번호</th>
                      <th>상품정보</th>
                      <th>아이디</th>
                      <th>리스트 추가일</th>
                      <th>관리</th>
                    </tr>
                  </thead>
                  <tbody th:each="wish : ${wish_list}">
                    <tr class="tr-shadow">
                      <td th:text="${wish['WISH_IDX']}"></td>
                      <td th:text="${wish['PRO_NUM']}"></td>
                      <td>
                          <img th:src="${'/admin/wish/image_display?dateFolderName=' + wish['PRO_UP_FOLDER'] + '&fileName=s_' + wish['PRO_IMG']}" style="width: 100px; height: 100px;">
                          <br>
                          <span th:text="${wish['PRO_NAME']}"></span>
                      </td>
                      <td th:text="${wish['MBSP_ID']}"></td>
                      <td th:text="${#dates.format(wish['WISH_REGDATE'], 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td>
                        <div class="fa-hover">
                          <a href="#" th:data-wish_idx="${wish['WISH_IDX']}" name="heart_wish">
                            <i class="fa fa-heart" style="color: red;"></i> 위시리스트 삭제
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="table-data__tool justify-content-center">
              <div class="box-footer clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <form id="actionForm" action="" method="get">
                      <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}">
                      <input type="hidden" name="amount"  id="amount" th:value="${pageMaker.cri.amount}">
                      <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}">
                      <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
                    </form>
                  </div>
                  <div class="col-md-6 text-center">
                    <nav aria-label="...">
                      <ul class="pagination">
                        <!-- 이전 표시여부 -->
                        <th:block th:if="${pageMaker.prev}">
                          <li class="page-item">
                            <a th:href="${pageMaker.startPage - 1}" class="page-link movepage">이전</a>
                          </li>
                        </th:block>
                        <!-- 페이지 번호 -->
                        <th:block th:with="pageMaker = ${pageMaker}">
                          <th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                            <li class='page-item' th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }" aria-current="page">
                              <a class="page-link movepage" th:href="${num}" th:text="${num}"></a>
                            </li>
                          </th:block>
                        </th:block>
                        <!--  다음 표시여부 -->
                        <th:block th:if="${pageMaker.next}">
                          <li class="page-item">
                            <a th:href="${pageMaker.endPage + 1}" class="page-link movepage">다음</a>
                          </li>
                        </th:block>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="script">
    <script>
      $(document).ready(function() {
        let actionForm = $("#actionForm");

        // 페이지 번호 클릭 시
        $(".movepage").on("click", function(e) {
          e.preventDefault(); // <a> 링크 기능 무력화
          actionForm.attr("action", "/admin/wish/wish_list");
          // 클릭한 페이지 번호 작업
          actionForm.find("input[name='pageNum']").val($(this).attr("href"));
          actionForm.submit();
        });

        // 위시리스트 삭제
        $("a[name='heart_wish']").on("click", function(e) {
          e.preventDefault();

          if(!confirm("위시리스트를 삭제하시겠습니까?")) return;

          let wish_idx = $(this).data("wish_idx");
          
          $.ajax({
            url : '/admin/wish/deletewish',
            type : 'post',
            data : {
              wish_idx : wish_idx
            },
            dataType : 'text',
            success : function(result) {
              if(result == 'delete') {
                alert("위시리스트에서 삭제되었습니다.");
                location.reload();
              }
            }
          });
        });


      }); // ready end
    </script>
  </th:block>

</html>
