<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-6">CART</h3>
  </div>
  <div class="container" id="cart_info">
    <div class="row mb-4">
      <div class=col-md-4>
        제품
      </div>
      <div class=col-md-2>
        수량
      </div>
      <div class=col-md-1>
        적립
      </div>
      <div class=col-md-2>
        배송비
      </div>
      <div class=col-md-2>
        가격
      </div>
      <div class=col-md-1>
        삭제
      </div>
    </div>
    <div class="row mb-3 justify-content-center empty" th:if="${#lists.isEmpty(cart_list)}">
      <p>장바구니가 비워져있습니다. 상품을 담아주세요.</p>
    </div>
    <div class="row mb-3" th:if="${!#lists.isEmpty(cart_list)}" th:each="cartproduct : ${cart_list}">
      <div class="col-md-4">
        <a class="move" href="#">
          <img th:src="${'/cart/image_display?dateFolderName=' + cartproduct.pro_up_folder + '&fileName=s_' + cartproduct.pro_img}" style="width: 100px; height: 120px;">
        </a>
        <span th:text="${cartproduct.pro_name}"></span>
      </div>
      <div class=col-md-2>
        <input type="number" name="cart_amount" th:value="${cartproduct.cart_amount}" class="w-50">
        <button type="button" class="btn btn-secondary" name="btn_cart_amount_change" th:data-cart_code="${cartproduct.cart_code}">수량변경</button>
      </div>
      <div class=col-md-1>
        0
      </div>
      <div class=col-md-2>
        [기본배송] 조건
      </div>
      <div class=col-md-2>
        <span class="subtotal" th:text="${#numbers.formatInteger(cartproduct.pro_price * cartproduct.cart_amount, 3, 'COMMA') + '원'}"></span>
      </div>
      <div class=col-md-1>
        <button type="button" class="btn btn-secondary" th:data-cart_code="${cartproduct.cart_code}" name="btn_cart_del">삭제</button>
      </div>
    </div>
    <div class="row mb-5 jumbotron">
      <div class="col text-center">
        <h3>총액 : <span id="totalPrice"></span></h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col text-center">
        <button type="button" class="btn btn-secondary" id="btn_cart_empty">장바구니 비우기</button>
        <button type="button" class="btn btn-secondary" id="btn_order">주문하기</button>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment = "script">
  <script>
    $(document).ready(function() {

      // 총액 구하기
      calculateTotalAmount();

      function calculateTotalAmount() {
        let totalAmount = 0;
        $("#cart_info .subtotal").each(function() {
          let subtotal = $(this).text().replace("원", "").replace(/,/g, "");
          totalAmount += parseInt(subtotal);
        });
        $("#totalPrice").text(totalAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
      }


      // 장바구니 상품 삭제
      $("button[name='btn_cart_del']").on("click", function() {
        if(!confirm("선택상품을 삭제하시겠습니까?")) {
          return;
        }

        location.href = "/cart/cart_del?cart_code=" + $(this).data("cart_code");
      });

      // 장바구니 상품 수량 변경
      $("button[name='btn_cart_amount_change']").on("click", function() {
        let cart_code = $(this).data("cart_code");
        let cart_amount = $(this).parent().find("input[name='cart_amount']").val();

        location.href = `/cart/cart_change?cart_code=${cart_code}&cart_amount=${cart_amount}`;
      });


      // 장바구니 비우기
      $("button#btn_cart_empty").click(function() {
        if(!confirm("장바구니를 비우시겠습니까?")) return;

        location.href = "/cart/cart_empty";
      });

      // 주문하기
      $("#btn_order").click(function() {
        if($("div.justify-content-center.empty").is(":visible")) {
          alert("장바구니가 비워져있습니다. 상품을 다시 담아주세요.");

          return;
        }

        location.href = "/order/orderinfo";
      });


    }); // ready event end
  </script>
</th:block>
    
</body>
</html>