<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<section>
    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
        <div>
            <strong><a class="nav-link active" th:href="@{/user/mypage}">홈</a></strong>
        </div>
        <div>
            <strong><span class="nav-link active">활동관리</span></strong>
            <a class="nav-link" th:href="@{/user/mypage}">주문조회</a>
            <a class="nav-link" th:href="@{/user/mypage}">위시리스트</a>
            <a class="nav-link" th:href="@{/user/mypage}">상품리뷰</a>
            <a class="nav-link" th:href="@{/user/mypage}">상품Q&A</a>
        </div>
        <div>
            <strong><span class="nav-link active">정보관리</span></strong>
            <a class="nav-link" th:href="@{/user/modify}">회원정보 변경</a>
            <a class="nav-link" th:href="@{/user/changepw}">비밀번호 변경</a>
            <a class="nav-link" th:href="@{/user/delete}">회원 탈퇴</a>
        </div>
    </div>
</section>

</html>