<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{admin/layout/adminlayout}">

  <th:block layout:fragment="content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title-5 m-b-35">메일 발송 리스트</h3>
            
            <div class="table-data__tool">
              <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                  <form class="form-header" action="/admin/user/mailinglist" method="get">
                    <label for="s_keyword" class="col-md-6 form-control-label">검색어 입력</label>
                    <input class="au-input au-input--xl" type="text" name="keyword" th:value="${pageMaker.cri.keyword}">
                    <button class="au-btn--submit" type="submit" id="search">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div class="table-data__tool-right">
                <a class="au-btn au-btn-icon au-btn--green au-btn--small" th:href="@{/admin/user/mailingform}">
                  <i class="zmdi zmdi-plus"></i>메일 폼 등록
                </a>
              </div>
            </div>
            <div class="table-data__tool">
              <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                  <thead>
                    <tr>
                      <th th:style="${'width: 5%'}">No</th>
                      <th th:style="${'width: 10%'}">구분</th>
                      <th th:style="${'width: 15%'}">메일제목</th>
                      <th th:style="${'width: 20%'}">메일설명</th>
                      <th th:style="${'width: 10%'}">발송횟수</th>
                      <th th:style="${'width: 10%'}">작성일</th>
                      <th th:style="${'width: 10%'}">작성자</th>
                      <th th:style="${'width: 20%'}">관리</th>
                    </tr>
                  </thead>
                  <tbody th:each="mail : ${maillist}">
                    <tr class="spacer">
                      <td colspan="8"></td>
                    </tr>
                    <tr class="tr-shadow">
                      <td th:text="${mail.m_idx}"></td>
                      <td th:text="${mail.m_gubun}"></td>
                      <td th:text="${mail.m_title}"></td>
                      <td th:text="${mail.m_explan}"></td>
                      <td th:text="${mail.m_sendcount}"></td>
                      <td th:text="${#dates.format(mail.reg_date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:text="${mail.admin_id}"></td>
                      <td>
                        <button type="button" class="btn btn-warning" name="btn_mail_modify">
                          <a th:href="@{/admin/user/mailingform(m_idx=${mail.m_idx})}" style="color: inherit;">수정</a>
                        </button>
                        <button type="button" class="btn btn-danger" name="btn_mail_delete" th:data-idx="${mail.m_idx}">삭제</button>
                        <button type="button" class="btn btn-success" name="btn_mail_send" th:data-idx="${mail.m_idx}">
                          <a th:href="@{/admin/user/mailsendingform(m_idx=${mail.m_idx})}" style="color: inherit;">발송</a>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="table-data__tool justify-content-center">
              <div class="box-footer clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <form id="actionForm" action="" method="get">
                      <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}">
                      <input type="hidden" name="amount"  id="amount" th:value="${pageMaker.cri.amount}">
                      <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}">
                      <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}">
                    </form>
                  </div>
                  <div class="col-md-6 text-center">
                    <nav aria-label="...">
                      <ul class="pagination">
                        <!-- 이전 표시여부 -->
                        <th:block th:if="${pageMaker.prev}">
                          <li class="page-item">
                            <a th:href="${pageMaker.startPage - 1}" class="page-link movepage">이전</a>
                          </li>
                        </th:block>
                        <!-- 페이지 번호 -->
                        <th:block th:with="pageMaker = ${pageMaker}">
                          <th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                            <li class='page-item' th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }" aria-current="page">
                              <a class="page-link movepage" th:href="${num}" th:text="${num}"></a>
                            </li>
                          </th:block>
                        </th:block>
                        <!--  다음 표시여부 -->
                        <th:block th:if="${pageMaker.next}">
                          <li class="page-item">
                            <a th:href="${pageMaker.endPage + 1}" class="page-link movepage">다음</a>
                          </li>
                        </th:block>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="script">
    <script>
      $(document).ready(function() {
        let actionForm = $("#actionForm");

        // 페이지 번호 클릭 시
        $(".movepage").on("click", function(e) {
          e.preventDefault(); // <a> 링크 기능 무력화
          actionForm.attr("action", "/admin/user/mailinglist");
          // 클릭한 페이지 번호 작업
          actionForm.find("input[name='pageNum']").val($(this).attr("href"));
          actionForm.submit();
        });

        // 메일 삭제 버튼 클릭
        $("button[name='btn_mail_delete']").on("click", function() {
          if(!confirm("정말 삭제하시겠습니까?")) return;
          let m_idx = $(this).data("idx");

          $.ajax({
            url : '/admin/user/mailingdelete',
            type : 'post',
            data : {m_idx : m_idx},
            dataType : 'text',
            success : function(result) {
              if(result == 'delete') {
                alert("선택된 메일이 삭제되었습니다.");
              }
            },
            complete : function() {
              location.reload();
            }
          });
        });

      }); // ready end
    </script>
  </th:block>

</html>
